@charset "utf-8";
/* CSS Document 
0081da -dark blue
05cbfb -light blue
*/


body { font-family: 'PT Sans', sans-serif; }
body a { text-decoration: none !important; }
.container-fluid { max-width: 1366px; }
.btn:active, .btn:focus { background: #0081da !important; color: #fff; }
.form-control { box-shadow: none !important; outline: none !important; }
.btn { box-shadow: none !important; outline: none !important; }
.border { border: 1px solid #CCC; }
.border-radius-0 { border-radius: 0 !important; }
.font-size-14 { font-size: 14px; }
.header { background-color: #0081da; padding-top: 20px; }
.header .social_icons { text-align: right; }
.header .social_icons ul { }
.header .header_logo img { width: 170px; height: auto; padding-top: 16px; }
.header .social_icons ul li i { background-color: #fff; border-radius: 50%; width: 35px; height: 35px; text-align: center; padding-top: 5px; line-height: 24px; }
.header .search { margin-top: 50px; }
.header .search .btn-light, .header .search .btn-light:focus, .header .search .btn-light:active { background: #e9ecef !important; border: 1px solid #ced4da !important; color: #000; }
.header .common_icon { text-align: right; }
.header .common_icons { padding-top: 15px; }
.header .common_icons img { width: 30px !important; height: auto; }
.header .common_icons li { padding: 0 20px; }
.header .common_icons li.search_icon { display: none; }
.header .common_icons li.search_icon a { cursor: pointer; }
.header .category { background-color: #e2e1e1; }
/*Menu Bar*/
.menu_bar { background-color: #05cbfb; font-family: 'PT Sans', sans-serif; }
.menu_bar .modal { border-radius: 0px; margin: auto; margin-top: 90px; }
.menu_bar .clos_login { margin-right: -45px; margin-top: -10px; color: #fff; font-weight: 100 !important; }
.menu_bar .login { padding: 20px 20px 20px 35px; }
.menu_bar .login h4 { font-size: 20px; font-weight: 600; color: #000; margin-bottom: 10px; }
.menu_bar .login .form-control { border-radius: 0px; }
.menu_bar .login .facebook a { background-color: #2e3192; color: #fff; margin-top: 50px; }
.menu_bar .login .google a { background-color: #ed1c24; color: #fff; margin-top: 20px; }
.menu_bar .register { background-color: #0081da; padding: 20px 20px 20px 20px; }
.menu_bar .register .form-control { border: none; border-bottom: 1px solid #fff; background-color: transparent; border-radius: 0px; }
.menu_bar .register a { color: #fff; }
 .menu_bar .register .form-control::-webkit-input-placeholder {
color:#fff;
opacity:1
}
.form-control::-moz-placeholder {
color:#fff;
opacity:1;
}
.menu_bar .register .form-control:-ms-input-placeholder {
color:#fff;
opacity:1
}
.form-control::-ms-input-placeholder {
color:#fff;
opacity:1;
}
.menu_bar .register .form-control::placeholder {
color:#fff;
opacity:1;
}
.menu_bar .register .btn { background-color: #00aeef; color: #fff; font-weight: 500; }
.menu_bar .register h4 { font-size: 20px; font-weight: 600; color: #fff; margin-bottom: 10px; }
.menu_bar .register .form-text { color: #fff !important; }
.menu_bar .forgot { color: #fff; background-image: url(../images/fogotpassword_bg.png); background-size: cover; }
.menu_bar .forgot h4 { font-size: 20px; font-weight: 600; color: #fff; margin-bottom: 10px; padding-left: 20px; padding-top: 30px; }
.menu_bar .modal-body { width: 600px; }
.menu_bar .forgot h5 { color: #fff; font-size: 17px; line-height: 22px; font-weight: 500; margin-top: 100px; text-align: center; }
.menu_bar .reset_password { background-color: #fff; padding: 100px 20px 100px 20px; }
.header_login .btn_main { box-shadow: none !important; color: #fff !important; font-size: 17px; font-weight: 500; letter-spacing: 1px; background-color: transparent; border: none; }
.header_login { text-align: right; }
.header_login .dropdown .btn-secondary { border: none !important; background-color: transparent !important; }
.header_login .dropdown .dropdown-menu { top: 10px !important; background: #0081da !important; padding: 5px 10px; border: none; }
.header_login .dropdown .dropdown-menu .dropdown-item { color: #fff; border-bottom: 1px solid #1fa0f9; padding: 5px 5px; font-size: 15px; }
.header_login .dropdown .dropdown-menu .dropdown-item:last-child { border-bottom: none; }
.header_login .dropdown .dropdown-menu .dropdown-item i { padding: 0 3px 0 0; }
.header_login .dropdown .dropdown-menu .dropdown-item:hover { background-color: transparent !important; color: #eee; }
.menu_bar .header_login .btn_main:hover { color: #005b9a !important; }
.menu_bar .login_btn { background-color: #0081da !important; color: #fff; }
.menu_bar .login_btn:hover { background-color: #005b9a !important; }
.navbar-nav li a { color: #fff !important; font-weight: 500; font-size: 15px; letter-spacing: 1px; }
.navbar-nav li a:hover { color: #005b9a !important; }
.navbar-nav li { padding-right: 24px; }
.navbar-nav .nav-item.active .nav-link { color: #005b9a !important; }
/*Slider*/
.home_slider { padding-top: 20px; padding-left: 30px !important; padding-right: 30px !important; padding-bottom: 20px; }
/*flash sale*/
.home_flash_sale { background-color: #f8f3f3; padding-top: 20px; padding-bottom: 25px; }
.home_flash_sale h3 { margin-bottom: 15px; font-size: 18px; color: #333333; }
.home_flash_sale a { text-decoration: none !important; color: #0081da; }
.home_flash_sale .share_icon .fa-share-alt, .home_flash_sale .share_icon .fa-heart { color: #fff; text-shadow: 2px 2px 5px #333; }
.home_flash_sale .share_icon ul li { padding: 0 5px; }
.share_icon .btn-secondary { background-color: transparent !important; color: #fff; text-shadow: 2px 2px 5px #333; border: none !important; padding: 0 !important; }
.share_icon .btn-secondary i:hover { color: #0081da; }
.share_icon .dropdown .dropdown-menu { min-width: 40px !important; max-width: 40px !important; padding: 0 0; }
.share_icon .dropdown .dropdown-menu .dropdown-item { padding: 0; text-align: center; padding: 4px 0; }
.share_icon .dropdown .dropdown-menu .dropdown-item:focus { background-color: transparent !important; }
.home_flash_sale img { max-width: 100%; max-height: 100%; height: 300px; width: 100%; object-fit: cover; }
.home_flash_sale .share_icon a:hover { color: #0081da; }
/*.home_flash_sale .share_icon { position: absolute; top: 5px; right:3px; }*/
/*SPICY DEALS*/

.home_spicy_deals { background-color: #fff; padding-top: 20px; padding-bottom: 25px; }
.home_spicy_deals .col-lg-12 { padding: 0; }
.home_spicy_deals h3 { margin-bottom: 15px; padding-left: 15px; font-size: 18px; color: #333333; }
.home_spicy_deals a { text-decoration: none !important; color: #0081da; }
.home_spicy_deals img { max-width: 100%; max-height: 100%; height: 250px; width: 100%; object-fit: cover; }
.home_spicy_deals .share_icon a:hover { color: #0081da; }
/*.home_spicy_deals .share_icon { position: absolute; top: 5px; right: 8px; }*/
.home_spicy_deals ul { padding-left: 8px; padding-right: 8px; margin-bottom: 0; }
.home_spicy_deals ul li { font-size: 14px; }
.home_spicy_deals .timer { margin-left: -10px; }
.home_spicy_deals p { margin-bottom: 5px; font-size: 15px; font-weight: 500; color: #666; padding-left: 8px; padding-right: 8px; text-align: justify; }
.home_spicy_deals h5 { padding-left: 8px; padding-right: 8px; margin-top: 0; font-size: 16px; font-weight: 700; margin-bottom: 3px; color: #4f8c00; }
.home_spicy_deals_place h6 { text-align: right; }
/*Home Winner*/


.home-winner { font-family: 'PT Sans', sans-serif; padding: 30px 0px 80px 0px; }
.home-winner .row-margin { margin-left: 50px; margin-right: 50px; }
.home-winner img { max-width: 100%; max-height: 100%; width: 100px !important; height: 100px !important; object-fit: cover; border-radius: 50%; }
.home-winner i { color: #000; font-size: 22px; font-weight: 600; }
.home-winner a { color: #00a8ec; text-decoration: none !important; font-size: 23px; font-weight: 500; margin-top: 10px; }
.home-winner .winner-bg { background-color: #f9f9f9; border: 1px solid #dcd9d9; padding: 30px 40px; border-radius: 6px; }
.home-winner h4 { padding-bottom: 25px; font-size: 30px; color: #000; padding-top: 20px; font-weight: 600; }
.home-winner h6 { text-align: center; padding-bottom: 10px; }
.home-winner h3 { font-size: 15px; padding-top: 10px; font-weight: 400; }
.home-winner .slider_padding { padding-left: 60px; padding-right: 60px; }
/*Advertise*/

.advertise { font-family: 'PT Sans', sans-serif; padding: 40px 30px 20px 30px; color: #fff; background: rgba(3,67,186,1); background: -moz-linear-gradient(left, rgba(3,67,186,1) 0%, rgba(5,118,239,1) 100%); background: -webkit-gradient(left top, right top, color-stop(0%, rgba(3,67,186,1)), color-stop(100%, rgba(5,118,239,1))); background: -webkit-linear-gradient(left, rgba(3,67,186,1) 0%, rgba(5,118,239,1) 100%); background: -o-linear-gradient(left, rgba(3,67,186,1) 0%, rgba(5,118,239,1) 100%); background: -ms-linear-gradient(left, rgba(3,67,186,1) 0%, rgba(5,118,239,1) 100%); background: linear-gradient(to right, rgba(3,67,186,1) 0%, rgba(5,118,239,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0343ba', endColorstr='#0576ef', GradientType=1 );
}
.advertise h3 { font-size: 19px; font-weight: 500; padding-bottom: 15px; }
.advertise_border { border-right: 2px solid #fff; }
.advertise p { font-size: 15px; font-weight: 400; text-align: justify; }
.advertise i { font-size: 50px; }
.advertise h4 { font-size: 18px; font-weight: 600; padding-top: 5px; }
.advertise a { font-size: 18px; color: #fff; font-weight: 600; text-decoration: none !important; }
.advertise a:hover { color: #000; font-weight: 600; }
/*HomeAbout*/

.home-about { font-family: 'PT Sans', sans-serif; background-image: url(../images/giftdaa-footer-bg.jpg); background-size: cover; padding: 40px 0 80px 0; }
.home-about h4 { color: #fff; font-size: 18px; text-align: center; }
.home-about p { color: #fff; font-size: 14px; text-align: justify; padding: 6px 20px 3px 20px; letter-spacing: 1px; line-height: 30px; }
.home-about a { color: #00a8ec; text-decoration: none !important; padding-right: 25px; }
.home-about a:hover { color: #fff; text-decoration: none !important; }
.home-about ul li { border: none; background-color: transparent; padding-bottom: 6px; }
.home-about ul li a i { color: #00a8ec !important; font-size: 20px; padding-right: 10px; }
.home-about ul li a { color: #fff !important; font-size: 14px !important; text-decoration: none; }
.home-about ul li a:hover { color: #00a8ec !important; }
.home-about .link-block { padding-left: 50px; }
.home-about .getin-touch h4 { padding-bottom: 15px; }
.home-about .getin-touch-form { background-color: #414248; border: none; border-radius: 1px; }
.home-about .btn { background-color: transparent; border: none; color: #00a8ec; letter-spacing: 1px; border-radius: 0px; }
.home-about .btn:hover { background-color: #00a8ec; color: #fff; }
/* Footer*/
.footer { font-family: 'PT Sans', sans-serif; background-color: #ebeaea; }
.footer img { width: 120px; }
.footer .social-media li { margin-right: 10px; margin-left: 10px; }
.footer h4 { text-align: center; font-size: 18px; color: #282828; padding-top: 30px; }
.footer p { text-align: center; font-size: 15px; color: #a9a9aa; letter-spacing: 1px; }
.footer ul li { border: none; background-color: transparent; }
.footer ul li a { text-decoration: none; font-size: 14px; color: #333; }
.footer ul li a:hover { color: #000; }
.footer ul li a i { font-size: 18px; }
.footer p { text-align: center; font-size: 14px; color: #282828; padding-top: 20px; margin-bottom: 0; padding-bottom: 10px; }
/*Subscribe*/
.Subscribe { background-color: #656565; padding-top: 10px; padding-bottom: 10px; }
.Subscribe ul { margin-bottom: 0; }
.Subscribe ul li { color: #fff; font-size: 18px; font-weight: 600; padding-left: 8px; padding-right: 8px; letter-spacing: 1px; }
.Subscribe .form-control { border-radius: 5px; }
/*Flash sale view*/
.sponsered_by { background-color: #f5f5f5; padding: 40px 20px; }
.sponsered_by img { border-radius: 10px; margin-bottom: 20px; max-width: 100%; max-height: 100%; height: 250px; width: 100%; object-fit: cover; }
/*end share button*/

/* deal_page*/
.deal_page .deal_page_toppick { padding-left: 0; }
.deal_page .deal_page_toppick h4 { font-size: 16px; font-weight: 700; padding: 12px 0; }
.deal_page .deal_page_toppick h4 a { color: #0081da; }
.deal_page .deal_page_toppick .media { border-top: 1px solid #ddd; padding-top: 8px; }
.deal_page .deal_page_toppick .media ul li { padding: 0; margin: 0; }
.deal_page .deal_page_toppick .media img { max-width: 100%; max-height: 100%; width: 140px; height: 90px; object-fit: cover; }
.deal_page .deal_page_toppick .media h5 { font-size: 14px; margin: 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 180px; color: #000; }
.deal_page .deal_page_toppick .media p { font-size: 13px; padding: 0; margin: 0; color: #000; font-weight: 600; }
.deal_page .deal_page_toppick .media p span { text-decoration: line-through; padding: 0 10px 0 0; color: #999; }
.deal_page .deal_page_toppick .media p i { font-size: 10px; }
.deal_page .deal_page_toppick .media h6 { font-size: 12px; color: #000; }
.deal_page .deal_page_toppick .media h6 i { font-size: 10px; }
.deal_page .deal_page_toppick .media h6 span { color: #090; }
.deal_brows_categories { background-image: url(../images/deal_categories_bg.jpg); background-repeat: repeat; }
.share_icon { position: absolute !important; top: 5px; right: 5px; }
.deal_ofthe_day .deal_ofthe_day_list img { max-width: 100%; max-height: 100%; height: 250px; width: 100%; object-fit: cover; }
.deal_ofthe_day .deal_ofthe_day_list .share_icon { right: 10px; }
.deal_ofthe_day .deal_ofthe_day_list h4 { font-size: 16px; padding: 5px 0 0 0; margin: 0; }
.deal_ofthe_day .deal_ofthe_day_list ul li { font-size: 15px; font-weight: 700; padding: 0; }
.deal_ofthe_day .deal_ofthe_day_list ul li .offer_amt { font-size: 16px !important; }
.deal_ofthe_day .deal_ofthe_day_list ul li .cu_amount { font-size: 14px; text-decoration: line-through; }
.deal_ofthe_day .deal_ofthe_day_list .col-xl-12 ul li i { font-size: 12px; }
.deal_ofthe_day .deal_ofthe_day_list .deal_addcart { position: absolute; top: 200px; right: 25px; border-radius: 50%; padding: 6px 10px; color: #fff; }
.home_flash_sale .deal_addcart { position: absolute; top: 240px; right: 25px; border-radius: 50%; padding: 6px 10px; color: #fff; }
.deal_ofthe_day .deal_ofthe_day_list p { font-size: 13px; }
.deal_hotdeals .share_icon { right: 15px; }
.vouchertime_details { position: absolute; bottom: 60px; left: 0; right: 0; background: rgba(0,129,218,0.9); }
.vouchertime_details ul li { font-size: 14px; padding: 5px 0; color: #fff; }
.vouchertime_details ul li i { font-size: 11px; }
.right_line { font-size: 20px; }
/*.right_line:before{content:'';position:absolute;right:15px;top:15px; width:82%;height:1px;background:#ddd;}*/
.deal_hotdeals .deal_hotdeals_list img { max-width: 100%; max-height: 100%; width: 340px; height: 300px; object-fit: cover; }
.deal_hotdeals .deal_hotdeals_details { padding-left: 0; }
.deal_hotdeals .deal_hotdeals_details h4 { font-size: 16px; }
.deal_hotdeals .deal_hotdeals_details p { font-size: 14px; margin: 0; }
.deal_hotdeals .deal_hotdeals_details table td { font-size: 14px; }
.deal_hotdeals .deal_hotdeals_details table td i { font-size: 11px; }
.deal_hotdeals .deal_hotdeals_details .btn-info { background: #0081da; border: 1px solid #0081da; color: #fff; border-radius: 2px; font-size: 14px; }
/*end deal_page*/

/*product view*/
.vouchertime_details_dealclick { }
.vouchertime_details_dealclick { position: absolute; bottom: 40px; right: 0; left: 0; padding: 0; }
.vouchertime_details_dealclick ul li { background: rgba(0,129,218,0.9); }
.vouchertime_details_dealclick ul li { font-size: 14px; padding: 5px 10px; color: #fff; }
.product_view .share_icon { }
.product_view .deal_hotdeals_details h4 { font-size: 22px; }
.product_view .deal_hotdeals_details p { font-size: 18px; margin: 0; }
.product_view .deal_hotdeals_details table td { font-size: 16px; padding: 6px 0; }
.product_view .deal_hotdeals_details table td i { font-size: 13px; }
.product_view .deal_hotdeals_details .btn-info { background: #0081da; border: 1px solid #0081da; color: #fff; border-radius: 2px; font-size: 14px; padding: 8px 20px; }
.product_view .deal_hotdeals_details .btn-info:hover { opacity: 0.8; }
.product_view img { max-width: 100%; }
.product_view .preview { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
 @media screen and (max-width: 996px) {
.preview { margin-bottom: 20px; }
}
.product_view .preview-pic { -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; }
.product_view .preview-thumbnail.nav-tabs { border: none; margin-top: -5px; }
.product_view .preview-thumbnail.nav-tabs li { /*width: 18%;
    margin-right: 2.5%;*/ margin-bottom: 8px; }
.product_view .preview-thumbnail.nav-tabs li img { cursor: pointer; max-width: 100%; max-height: 100%; height:100%; width: 100%; object-fit: cover; display: block; }
.product_view .preview-thumbnail.nav-tabs li a { padding: 0; margin: 0; }
.product_view .preview-thumbnail.nav-tabs li:last-of-type { margin-right: 0; }
.product_view .tab-content { overflow: hidden; }
.product_view .tab-content img { max-height: 100%; max-width: 100%; width: 100%; height: 350px; object-fit: cover; -webkit-animation-name: opacity; animation-name: opacity; -webkit-animation-duration: .3s; animation-duration: .3s; }
.product_view .card { margin-top: 50px; background: #eee; padding: 3em; line-height: 1.5em; }
 @media screen and (min-width: 997px) {
.wrapper1 { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
}
.product_view .details { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
.product_view .colors { -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; }
.product_view .product-title, .price, .sizes, .colors { font-weight: 400; font-size: 17px; color: #333; }
.offer { width: 110px; font-size: 16px; font-weight: 600; background-color: #F99; padding: 8px 15px; color: #fff; border-radius: 4px; }
.product_view .checked, .price span { color: #ff9f1a; }
.product_view .product-title, .rating, .product-description, .price, .vote, .sizes { letter-spacing: 1px; font-weight: 500; font-size: 14px; color: #6f6f6f; margin-bottom: 15px; }
.product_view .product-title { margin-top: 0; }
.product_view .size { margin-right: 10px; }
.size:first-of-type { margin-left: 40px; }
.product_view .color { display: inline-block; vertical-align: middle; margin-right: 10px; height: 2em; width: 2em; border-radius: 2px; }
.color:first-of-type { margin-left: 20px; }
.product_view .add-to-cart, .like { background: #ff9f1a; padding: .5em 1.5em; border: none; font-weight: 500; color: #fff; -webkit-transition: background .3s ease; transition: background .3s ease; }
.product_view .add-to-cart:hover, .like:hover { background: #b36800; color: #fff; }
.product_view .not-available { text-align: center; line-height: 2em; }
.not-available:before { font-family: fontawesome; content: "\f00d"; color: #fff; }
.product_view .orange { background: #ff9f1a; }
.product_view .green { background: #85ad00; }
.product_view .blue { background: #0076ad; }
.product_view .tooltip-inner { padding: 1.3em; }
@-webkit-keyframes opacity { 0% {
 opacity: 0;
 -webkit-transform: scale(3);
 transform: scale(3);
}
 100% {
 opacity: 1;
 -webkit-transform: scale(1);
 transform: scale(1);
}
}
 @keyframes opacity { 0% {
 opacity: 0;
 -webkit-transform: scale(3);
 transform: scale(3);
}
 100% {
 opacity: 1;
 -webkit-transform: scale(1);
 transform: scale(1);
}
}
/*end product view*/
.deal_des h4 { font-size: 20px; }
.deal_des ul:nth-child(2) { list-style: none; }
.deal_des ul li { font-size: 14px; }
.googlemap { width: 100%; height: 300px; }
.shop_address .address ul li { padding: 10px 0; color: #333; }
.shop_address .address ul li i { color: #999; }
.shop_address h4 { font-size: 20px; }
/*----------------------------------------------------------------------------------------------------------------------------*/
/*Flash sale view*/
.flash_sale_view { padding-top: 25px; padding-bottom: 5px; background-color: #0081da; }
.flash_sale_view h4 { color: #fff; }
.flash_sale_view p { color: #fff; }
.flash_view_text ul li { margin-bottom: 10px; font-size: 15px; font-weight: 500; color: #333; }
.flash_view_text p { font-size: 15px; font-weight: 500; color: #333; padding-right: 80px; }
.flash_view_text h5 { padding-bottom: 15px; }
.sponsered_by { background-color: #f5f5f5; padding: 20px 20px; }
.sponsered_by h3 { font-size: 19px; font-weight: 500; padding-bottom: 10px; }
.sponsered_by img { border-radius: 10px; margin-bottom: 20px; max-width: 100%; max-height: 100%; height: 250px; width: 100%; object-fit: cover; }
.discount img { max-width: 100%; max-height: 100%; height: 400px; width: 100%; object-fit: cover; }
.discount_bg { background-color: #0081da; height: 400px; }
.discount_bg h2 { color: #fff; font-size: 25px; font-weight: 800; }
.discount_bg p { color: #fff; font-size: 18px; font-weight: 500; margin-bottom: 40px; }
.discount_bg .btn { background-color: #05cbfb; }
.discount_bg .btn:hover { background-color: #3fd5f9; }
.discount_bg .discount_text { font-size: 28px; font-weight: 700; }
.flash_sale_checkout .form-control { border-radius: 0px; }
.flash_sale_checkout .col-lg-4 { padding-right: 0; }
.flash_sale_checkout .checkout-label { font-weight: 600; color: #000; }
.flash_sale_checkout .order-summer { background-color: #ebebeb; padding: 20px; }
.flash_sale_checkout .order-summer img { margin-bottom: 5px; }
/*end share button*/
.menu_bar_list .login_reg_mob { display: none; }
/*discount click*/
.discount_click .deal_hotdeals_details span.bg-success { border-radius: 5px; font-size: 24px; }
.discount_click .deal_hotdeals_details i.fa-map-marker-alt { color: #05cbfb; font-size: 18px; }
.discount_click .deal_page_toppick h4 { font-size: 20px; font-weight: 600; }
.discount_click .deal_page_toppick img { max-height: 100%; max-width: 100%; width: 100%; height: 70px; object-fit: cover; }
/*end discount click*/
/*rating*/
.ratings .media img { max-height: 100%; max-width: 100%; width: 40px; height: 40px; object-fit: cover; }
.ratings .media h5 { font-size: 18px; color: #666; padding: 10px 0 15px 0; border-bottom: 1px solid #ddd; }
.ratings .media h5 span { padding-left: 10px; color: #000; font-weight: 600; }
.ratings .media h5 span i { color: #FC3; }
.ratings .media h5 a { color: #666; font-size: 14px; }
.ratings .btn-primary { margin: 30px 0 0 20px; }
.ratings .col-md-4 { display: flex; align-items: center; justify-content: center; background: #eee; }
.ratings .col-md-4 h3 { font-size: 36px; }
.rating { border: none; float: left; }
.rating > input { display: none; }
.rating > label:before { margin: 5px; font-size: 4.25em; font-family: FontAwesome; display: inline-block; content: "\f005"; }
.rating > .half:before { content: "\f089"; position: absolute; }
.rating > label { color: #ddd; float: right; }
/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */ .rating:not(:checked) > label:hover, /* hover current star */ .rating:not(:checked) > label:hover ~ label { color: #FFD700; } /* hover previous stars in list */
.rating > input:checked + label:hover, /* hover current star when changing rating */ .rating > input:checked ~ label:hover, .rating > label:hover ~ input:checked ~ label, /* lighten current selection */ .rating > input:checked ~ label:hover ~ label { color: #FFED85; }
.rating fieldset, .rating label { margin: 0; padding: 0; }
.circle-wrap { overflow: hidden; margin: 0 auto; }
.circular-bar { text-align: center; width: 100%; float: none; }
.circular-bar .circular-bar-content { margin-bottom: 70px; margin-top: -95px; text-align: center; }
.circular-bar .circular-bar-content strong { display: block; font-weight: 600; font-size: 30px; line-height: 24px; }
.circular-bar .circular-bar-content label { display: block; font-weight: 300; font-size: 15px; font-size: 0.9375rem; line-height: 1.25rem; line-height: 20px; }
/*end rating*/
/*myprofile*/
.myprofile .nav { background: #eeeded; }
.myprofile .nav .nav-link { padding: 15px 15px; color: #000; font-size: 18px; }
.myprofile .nav .nav-link i { padding: 0 8px 0 0; }
.myprofile .nav .nav-link.active { background: #0081da; border-radius: 0; position: relative; }
.myprofile .nav>a.active:after { content: ''; position: absolute; left: 100%; top: 50%; margin-top: -15px; border-left: 0; border-bottom: 13px solid transparent; border-top: 13px solid transparent; border-left: 10px solid #0081da; }
.myprofile_home h4 { font-weight: 700; padding: 0 0 10px 0; font-size: 22px; }
.myprofile_home .form-control { border: none; border-bottom: 1px solid #aaa; border-radius: 0; }
.myprofile_home .form-control:focus { border-color: #5e9bfc; }
.myprofile_home .form-group { margin-bottom: 25px; }
.myprofile_purchase .media img { max-height: 100%; max-width: 100%; width: 100px; height: 80px; object-fit: cover; }
.myprofile_purchase .media p { font-size: 14px; color: #666; }
.myprofile_purchase .media h5 { font-size: 18px; color: #000; }
.myprofile_purchase .media h5 a { color: #000; }
.myprofile_purchase .media h5 a i { font-size: 14px; }
.myprofile_purchase .media ul li { font-size: 14px; color: #333; }
.myprofile_purchase .media ul li i { font-size: 12px; }
.continue_shop a { font-size: 16px; font-weight: 600; letter-spacing: 1px; text-decoration: none !important; color: #0191ed; }
.cart .table th, .cart .table td { border-top: none !important; font-size: 14px; color: #000; }
.cart .table td a { color: #000; }
.cart .table img { max-height: 100%; max-width: 100%; height: 50px; width: 80px; object-fit: cover; }
.cart .quantity { width: 120px; }
.cart .table .text-large { font-size: 16px; }
.cart .table .action .btn { font-size: 12px !important; padding: 2px 3px; }
.cart .table .fa-gift { color: #F30; font-size: 16px; }
/*end myprofile*/
/*wallet*/
.wallet .nav .nav-link { border-bottom: 2px solid #ddd; }
.wallet .wallet_summery .card { background: #05cbfb; -webkit-box-shadow: -5px 0px 16px -2px rgba(0,0,0,0.33); -moz-box-shadow: -5px 0px 16px -2px rgba(0,0,0,0.33); box-shadow: -5px 0px 16px -2px rgba(0,0,0,0.33); }
.wallet .wallet_summery .card h5 { font-size: 36px; font-weight: 700; margin: 0; color: #fff; }
.wallet .wallet_summery .card p { font-size: 18px; font-weight: 700; margin: 0; color: #fff; }
.wallet .wallet_summery .card:first-child h5 { font-size: 50px; }
.wallet .wallet_summery .card:first-child p { font-size: 28px; }
.wallet .wallet_points { }
.wallet .wallet_points .nav { background: #eeeded; padding: 5px; }
.wallet .wallet_points .nav .nav-link { padding: 15px 60px; color: #000; font-size: 18px; border: none; }
.wallet .wallet_points .nav .nav-link i { padding: 0 8px 0 0; }
.wallet .wallet_points .nav .nav-link.active { background: #fff; border-radius: 0; position: relative; font-weight: 600; }
/*wallet*/

.modal_giftfriend h5 { font-size: 18px; }
.modal_giftfriend .form-control { font-size: 14px; }
.modal_giftfriend .btn { font-size: 14px; }
/*Added on jun 5*/
.about { }
.about h3 { font-size: 20px; font-weight: 600; color: #000; padding-bottom: 20px; margin-top: 30px }
.about p { font-size: 15px; font-weight: 500; color: #333; text-align: justify; line-height: 26px; padding-bottom: 40px }
.about_bg { background-image: url(../images/about-bg.jpg); background-size: cover; }
.contact { }
.contact_bg { background-image: url(../images/contact-bg.jpg); background-size: cover; }
.contact_bg h3 { }
.contact_bg p { font-size: 20px; font-weight: 600; color: #000; padding-bottom: 20px; margin-top: 30px }
.flashsale_banner { max-width: 100%; max-height: 100%; width: 100%; height: 300px; object-fit: cover; margin-bottom: 15px; }
.terms_condition { margin-bottom: 20px; }
.terms_condition h5 { margin-bottom: 20px; }
.terms_condition ul li { margin-bottom: 10px; }
.flash_view_text { padding-top: 10px; }
 @media screen and (min-width:1024px) and (max-width:1365px) {
/*sabique*/
.header .social_icons ul li i { width: 25px; height: 25px; line-height: 16px; font-size: 14px; }
.header .search { margin-top: 40px; }
.header .common_icons { text-align: center; }
.home_spicy_deals img { max-width: 100%; max-height: 100%; height: 200px; width: 100%; object-fit: cover; }
.home-winner .row-margin { margin-left: 37px; margin-right: 37px; }
.home-winner .winner-bg { padding: 20px 30px; border-radius: 6px; }
.advertise h4 { font-size: 14px !important; font-weight: 600; padding-top: 5px; }
.product_view .tab-content img { height: 300px; }
.rating > label:before { font-size: 2.25em; }
.ratings .btn-primary { margin: 10px 0 0 20px; }
.product_view .deal_hotdeals_details h4 { font-size: 16px; }
.product_view .deal_hotdeals_details p { font-size: 16px; }
.product_view .deal_hotdeals_details td { font-size: 14px; }
.deal_page .deal_page_toppick .media:last-child { display: none; }
.deal_page .deal_page_toppick .media img { width: 120px; height: 80px; }
.deal_page .deal_page_toppick .media h5 { font-size: 13px; }
.deal_page .deal_page_toppick .media p { font-size: 12px; }
.deal_ofthe_day .deal_ofthe_day_list img { height: 200px; }
.deal_ofthe_day .deal_ofthe_day_list .deal_addcart { top: 150px; }
.header .common_icons li { padding: 0 15px; }
.wallet .wallet_summery .card h5 { font-size: 26px; }
.wallet .wallet_summery .card p { font-size: 16px; }
.wallet .wallet_summery .card:first-child h5 { font-size: 30px; }
.wallet .wallet_summery .card:first-child p { font-size: 20px; }
/*end sabique*/
	 
}
@media screen and (min-width:768px) and (max-width:1023px) {
.header .social_icons { padding: 12px 0 0 35px; text-align: left !important; }
.header { padding-top: 0px; }
.header .search { padding-right: 20px !important; }
.header .search .form-control, .header .search .custom-select { font-size: 14px; }
.header .common_icons { text-align: right; }
.menu_bar_list .login_reg_mob { display: block; }
.header_login { display: none; }
.home-about { padding: 20px 0 30px 0; }
.home-about h4 { font-size: 16px; text-align: center; }
.home-about p { font-size: 13px; text-align: justify; padding: 0; line-height: 18px; }
.home-about a { padding-right: 0px; }
.home-about a:hover { text-decoration: none !important; }
.home-about ul { margin-top: -10px; }
.home-about ul li a i { font-size: 14px; padding-right: 3px; }
.home-about ul li a { font-size: 12px !important; text-decoration: none; }
.home-about .link-block { padding-left: 50px; }
.home-about .getin-touch h4 { padding-bottom: 15px; }
.home-about .getin-touch-form { background-color: #414248; border: none; border-radius: 1px; }
.home-about .btn { background-color: transparent; border: none; letter-spacing: 1px; border-radius: 0px; font-size: 14px; }
.footer h4 { text-align: center; font-size: 18px; color: #282828; padding-top: 30px; }
.footer p { text-align: center; font-size: 14px; color: #a9a9aa; }
.footer ul li { border: none; background-color: transparent; }
.footer ul li a { text-decoration: none; font-size: 14px; color: #333; }
.footer ul li a:hover { color: #000; }
.footer ul li a i { font-size: 18px; }
.footer p { text-align: center; font-size: 14px; color: #282828; padding-top: 20px; margin-bottom: 0; padding-bottom: 10px; }
.home_spicy_deals img { max-width: 100%; max-height: 100%; height: 180px; width: 100%; object-fit: cover; }
.advertise h4 { font-size: 14px !important; font-weight: 600; padding-top: 5px; }
.home-winner .row-margin { margin-left: 38px; margin-right: 38px; }
.home-winner img { max-width: 100%; max-height: 100%; width: 70px !important; height: 70px !important; object-fit: cover; border-radius: 50%; }
.home-winner i { color: #000; font-size: 20px; font-weight: 600; }
.home-winner .winner-bg { background-color: #f9f9f9; border: 1px solid #dcd9d9; padding: 20px 20px; border-radius: 6px; }
.home-winner h4 { padding-bottom: 15px; font-size: 27px; color: #000; padding-top: 20px; font-weight: 600; }
.home-winner h3 { font-size: 13px; padding-top: 10px; font-weight: 400; }
.home-winner .slider_padding { padding-left: 30px; padding-right: 30px; }
.advertise h3 { font-size: 17px; font-weight: 500; padding-bottom: 10px; }
.advertise p { font-size: 14px; font-weight: 400; text-align: justify; line-height: 16px; }
.advertise i { font-size: 40px; }
.advertise h4 { font-size: 16px; font-weight: 600; padding-top: 5px; text-align: center; }
.advertise a { font-size: 15px; color: #fff; font-weight: 600; text-decoration: none !important; }
.advertise .col-md-9 { padding-top: 15px; }
.home_flash_sale img { max-width: 100%; max-height: 100%; height: 200px; width: 100%; object-fit: cover; }
.menu_bar .modal-body { width: auto; }
.menu_bar .clos_login { margin-top: -10px; color: #fff; font-weight: 100 !important; }
.menu_bar .reset_password { padding: 0px 20px 0px 20px; }
.product_view .tab-content img { height: 300px; }
.discount_click .deal_page_toppick img { height: auto; }
.rating > label:before { font-size: 2.25em; }
.ratings .btn-primary { margin: 10px 0 0 20px; }
.home_flash_sale .deal_addcart { top: 150px; }
.deal_page .deal_page_toppick { padding-left: 15px; }
.myprofile .nav { margin: 0 0 20px 0; }
.myprofile .col-lg-3 { text-align: center; }
.myprofile .nav.flex-column { display: inline-block !important; }
.myprofile .nav .nav-link i { padding: 0 0px 0 0; }
.myprofile .nav .nav-link { padding: 15px 25px; float: none; display: inline-block; }
.myprofile .nav .nav-link span { display: none; }
.myprofile .nav>a.active:after { display: none; }
.wallet .wallet_summery .card h5 { font-size: 20px; }
.wallet .wallet_summery .card p { font-size: 14px; }
.wallet .wallet_summery .card:first-child h5 { font-size: 20px; }
.wallet .wallet_summery .card:first-child p { font-size: 14px; }
.wallet .nav.flex-column { display: inline-block !important; }
.wallet .nav .nav-link { padding: 10px 25px; float: none; display: inline-block; font-size: 14px; }
}
@media screen and (min-width:480px) and (max-width:767px) {
.header { padding-top: 0px; }
.header .search { padding: 0 10px 0 10px !important; margin-top: 10px; }
.header .search_category, .header .search_text, .header .search_location { padding: 0 !important; margin-bottom: 5px; }
.header .social_icons { display: none !important; }
.header_logo { text-align: center; }
.header .search .form-control, .header .search .custom-select { font-size: 14px; }
.common_icon { text-align: center !important; }
.menu_bar_list .login_reg_mob { display: block; }
.header_login { display: none; }
.home_slider .col-lg-6 { margin-bottom: 10px; }
.home_flash_sale .col-lg-4 { margin-bottom: 10px; }
.home_spicy_deals .col-lg-3 { margin-bottom: 10px; }
.home-winner .col-lg-3 { margin-bottom: 10px; }
.advertise h3 { font-size: 17px; font-weight: 500; padding-bottom: 10px; }
.advertise p { font-size: 14px; font-weight: 400; text-align: justify; line-height: 16px; }
.advertise i { font-size: 40px; }
.advertise h4 { font-size: 16px; font-weight: 600; padding-top: 5px; text-align: center; }
.advertise a { font-size: 15px; color: #fff; font-weight: 600; text-decoration: none !important; }
.advertise .col-md-9 { padding-top: 15px; }
.advertise_border { border: none; }
.menu_bar .modal-body { width: auto; }
.menu_bar .clos_login { margin-right: 0px !important; color: #000 !important; margin-top: 5px !important; }
.menu_bar .reset_password { padding: 0px 20px 0px 20px; }
.home_flash_sale .col-md-6 { margin-bottom: 10px; }
.product_view .tab-content img { height: auto; }
.discount_click .deal_page_toppick img { height: auto; }
.rating > label:before { font-size: 2.25em; }
.ratings { text-align: center; }
.ratings .rating { padding-left: 25px; }
.ratings .btn-primary { margin: 0px 0 15px 0px; }
.discount_click .deal_hotdeals_details { padding: 15px 0 0 0; }
.discount_click .deal_page_toppick { padding: 0; }
.deal_des ul { padding-left: 0; }
.ratings .media h5 { text-align: left; font-size: 14px; letter-spacing: 0; font-weight: 500; }
.home_flash_sale img { height: auto; }
.product_view .preview-thumbnail.nav-tabs li img { height: 40px; width: 60px; margin-right: 5px; }
.product_view .deal_hotdeals_details { padding: 0; }
.product_view .deal_hotdeals_details h4 { font-size: 16px; }
.deal_page .deal_page_toppick { padding-left: 15px; }
.deal_page .deal_page_toppick .media h5 { font-size: 13px; width: 280px; }
.deal_page .deal_page_toppick .media ul li p { font-size: 12px !important; }
.deal_brows_categories h4 { font-size: 16px; }
.deal_ofthe_day .deal_ofthe_day_list img { height: auto; }
.deal_ofthe_day .deal_ofthe_day_list .deal_addcart { top: 10px; left: 25px; right: auto; }
.deal_hotdeals .deal_hotdeals_list img { width: 100%; height: auto; }
.deal_hotdeals .deal_hotdeals_details { padding-left: 15px; padding-top: 10px; margin-bottom: 30px; }
.vouchertime_details { bottom: -10px; }
.home_flash_sale .deal_addcart { top: 10px; left: 25px; right: auto; }
.header_search { display: none; }
.header .common_icons li { padding: 0 15px; }
.header .common_icons li.search_icon { display: inline-block; }
.header .social_icons { padding-top: 10px; }
.home-winner .row-margin { margin-left: 0px; margin-right: 0px; }
.home-winner .slider_padding { padding-left: 0px; padding-right: 0px; }
.myprofile .nav { margin: 0 0 20px 0; }
.myprofile .col-lg-3 { text-align: center; padding: 0; }
.myprofile .col-lg-9 { padding: 0; }
.myprofile .nav.flex-column { display: inline-block !important; }
.myprofile .nav .nav-link i { padding: 0 0px 0 0; }
.myprofile .nav .nav-link { padding: 10px 16px; float: none; display: inline-block; font-size: 16px; }
.myprofile .nav .nav-link span { display: none; }
.myprofile .nav>a.active:after { display: none; }
.myprofile_purchase .media img { width: 40px; height: 30px; }
.myprofile_purchase .media p { font-size: 12px; }
.myprofile_purchase .media h5 { font-size: 14px; margin: 0; }
.myprofile_purchase .media h5 a { color: #000; }
.myprofile_purchase .media h5 a i { font-size: 12px; }
.myprofile_purchase .media ul li { font-size: 12px; }
.myprofile_purchase .media ul li i { font-size: 10px; }
.myprofile_team .table td, .myprofile_team .table th { font-size: 13px; }
.myprofile_notification .card .card-body { font-size: 14px; }
.myprofile_rewards .media img { display: none; }
.myprofile_rewards .media h5 { font-size: 14px; font-weight: 600; }
.myprofile_rewards .media p { font-size: 14px; }
.cart .table th, .cart .table td { font-size: 13px; }
.cart .quantity { width: 80px; }
.cart .quantity .btn, .cart .quantity .form-control { font-size: 10px; }
.cart .table .text-large { font-size: 13px; }
.continue_shop a { font-size: 12px; font-weight: 600; letter-spacing: 0px; }
.cart .table .media img { width: 40px; height: 40px; }
.wallet .wallet_points .nav .nav-link { padding: 15px 20px; font-size: 16px; }
.wallet .wallet_points .table th, .wallet .wallet_points .table td, .transactionhistory .table th, .transactionhistory .table td { font-size: 13px; }
}
@media screen and (min-width:320px) and (max-width:479px) {
.header { padding-top: 0px; }
.header .search { padding: 0 10px 0 10px !important; margin-top: 10px; }
.header .search_category, .header .search_text, .header .search_location { padding: 0 !important; margin-bottom: 5px; }
.header .social_icons { display: none !important; }
.header_logo { text-align: center; }
.header .search .form-control, .header .search .custom-select { font-size: 14px; }
.common_icon { text-align: center !important; }
.menu_bar_list .login_reg_mob { display: block; }
.header_login { display: none; }
.home_slider .col-lg-6 { margin-bottom: 10px; }
.home_flash_sale .col-lg-4 { margin-bottom: 10px; }
.home_spicy_deals .col-lg-3 { margin-bottom: 10px; }
.home-winner .col-lg-3 { margin-bottom: 10px; }
.advertise h3 { font-size: 17px; font-weight: 500; padding-bottom: 10px; }
.advertise p { font-size: 14px; font-weight: 400; text-align: justify; line-height: 16px; }
.advertise i { font-size: 40px; }
.advertise h4 { font-size: 16px; font-weight: 600; padding-top: 5px; text-align: center; }
.advertise a { font-size: 15px; color: #fff; font-weight: 600; text-decoration: none !important; }
.advertise .col-md-9 { padding-top: 15px; }
.advertise_border { border: none; }
.menu_bar .modal-body { width: auto; }
.menu_bar .clos_login { margin-right: 0px !important; color: #000 !important; }
.menu_bar .reset_password { padding: 0px 20px 0px 20px; }
.home_flash_sale .col-md-6 { margin-bottom: 10px; }
.flash_sale_checkout12.pl-4 { padding: 0 !important; }
.checkout_delivery_here h5 { font-size: 16px; }
.checkout_delivery_here p { font-size: 14px; }
.checkout_delivery_here .btn { font-size: 14px; }
.home-about { padding: 30px 0 30px 0; }
.home-about h4 { font-size: 16px }
.home-about p { font-size: 14px; padding: 0px 0px 0px 0px; letter-spacing: 0px; line-height: 24px; margin: 0; }
.home-about a { padding-right: 0px; margin-bottom: 20px; }
.home-about ul { margin-bottom: 20px; }
.home-about .link-block { padding-left: 0px; }
.product_view .tab-content img { height: auto; }
.discount_click .deal_page_toppick img { height: auto; }
.rating > label:before { font-size: 2.25em; }
.ratings { text-align: center; }
.ratings .rating { padding-left: 25px; }
.ratings .btn-primary { margin: 0px 0 15px 0px; }
.discount_click .deal_hotdeals_details { padding: 15px 0 0 0; }
.discount_click .deal_page_toppick { padding: 0; }
.deal_des ul { padding-left: 10px; }
.ratings .media h5 { text-align: left; font-size: 14px; letter-spacing: 0; font-weight: 500; }
.home_flash_sale img { height: auto; }
.product_view .preview-thumbnail.nav-tabs li img { height: 40px; width: 60px; margin-right: 5px; }
.product_view .deal_hotdeals_details { padding: 0; }
.product_view .deal_hotdeals_details h4 { font-size: 16px; }
.deal_page .deal_page_toppick { padding-left: 15px; }
.deal_page .deal_page_toppick .media h5 { font-size: 13px; width: 140px; }
.deal_page .deal_page_toppick .media ul li p { font-size: 12px !important; }
.deal_brows_categories h4 { font-size: 16px; }
.deal_ofthe_day .deal_ofthe_day_list img { height: auto; }
.deal_ofthe_day .deal_ofthe_day_list .deal_addcart { top: 10px; left: 25px; right: auto; }
.deal_hotdeals .deal_hotdeals_list img { width: 100%; height: auto; }
.deal_hotdeals .deal_hotdeals_details { padding-left: 15px; padding-top: 10px; margin-bottom: 30px; }
.vouchertime_details { bottom: -10px; }
.home_flash_sale .deal_addcart { top: 10px; left: 25px; right: auto; }
.header_search { display: none; }
.header .common_icons li { padding: 0 15px; }
.header .common_icons li.search_icon { display: inline-block; }
.header .social_icons { padding-top: 10px; }
.home-winner .row-margin { margin-left: 0px; margin-right: 0px; }
.home-winner .slider_padding { padding-left: 0px; padding-right: 0px; }
.myprofile .nav { margin: 0 0 20px 0; }
.myprofile .col-lg-3 { text-align: center; padding: 0; }
.myprofile .col-lg-9 { padding: 0; }
.myprofile .nav.flex-column { display: inline-block !important; }
.myprofile .nav .nav-link i { padding: 0 0px 0 0; }
.myprofile .nav .nav-link { padding: 6px 12px; float: none; display: inline-block; font-size: 13px; }
.myprofile .nav .nav-link span { display: none; }
.myprofile .nav>a.active:after { display: none; }
.myprofile_purchase .media img { width: 40px; height: 30px; }
.myprofile_purchase .media p { font-size: 12px; }
.myprofile_purchase .media h5 { font-size: 14px; margin: 0; }
.myprofile_purchase .media h5 a { color: #000; }
.myprofile_purchase .media h5 a i { font-size: 12px; }
.myprofile_purchase .media ul li { font-size: 12px; }
.myprofile_purchase .media ul li i { font-size: 10px; }
.myprofile_team .table td, .myprofile_team .table th { font-size: 13px; }
.myprofile_notification .card .card-body { font-size: 14px; }
.myprofile_rewards .media img { display: none; }
.myprofile_rewards .media h5 { font-size: 14px; font-weight: 600; }
.myprofile_rewards .media p { font-size: 14px; }
.cart .table th, .cart .table td { font-size: 13px; }
.cart .quantity { width: 100%; }
.cart .quantity .btn, .cart .quantity .form-control { font-size: 12px; }
.cart .table .text-large { font-size: 13px; }
.continue_shop a { font-size: 12px; font-weight: 600; letter-spacing: 0px; }
.cart .table .media img { width: 40px; height: 40px; }
.wallet .wallet_points .nav .nav-link { padding: 15px 20px; font-size: 16px; }
.wallet .wallet_points .table th, .wallet .wallet_points .table td, .transactionhistory .table th, .transactionhistory .table td { font-size: 13px; }
}
@media screen and (max-width:319px) {
.header { padding-top: 0px; }
.header .search { padding: 0 10px 0 10px !important; margin-top: 10px; }
.header .search_category, .header .search_text, .header .search_location { padding: 0 !important; margin-bottom: 5px; }
.header .social_icons { display: none !important; }
.header_logo { text-align: center; }
.header .search .form-control, .header .search .custom-select { font-size: 14px; }
.common_icon { text-align: center !important; }
.menu_bar_list .login_reg_mob { display: block; }
.header_login { display: none; }
.home_slider .col-lg-6 { margin-bottom: 10px; }
.home_flash_sale .col-lg-4 { margin-bottom: 10px; }
.home_spicy_deals .col-lg-3 { margin-bottom: 10px; }
.home-winner .col-lg-3 { margin-bottom: 10px; }
.advertise h3 { font-size: 17px; font-weight: 500; padding-bottom: 10px; }
.advertise p { font-size: 14px; font-weight: 400; text-align: justify; line-height: 16px; }
.advertise i { font-size: 40px; }
.advertise h4 { font-size: 16px; font-weight: 600; padding-top: 5px; text-align: center; }
.advertise a { font-size: 15px; color: #fff; font-weight: 600; text-decoration: none !important; }
.advertise .col-md-9 { padding-top: 15px; }
.advertise_border { border: none; }
.menu_bar .modal-body { width: auto; }
.menu_bar .clos_login { margin-right: 0px !important; color: #000 !important; }
.menu_bar .reset_password { padding: 0px 20px 0px 20px; }
.home_flash_sale .col-md-6 { margin-bottom: 10px; }
.flash_sale_checkout12.pl-4 { padding: 0 !important; }
.checkout_delivery_here h5 { font-size: 16px; }
.checkout_delivery_here p { font-size: 14px; }
.checkout_delivery_here .btn { font-size: 14px; }
.home-about { padding: 30px 0 30px 0; }
.home-about h4 { font-size: 16px }
.home-about p { font-size: 14px; padding: 0px 0px 0px 0px; letter-spacing: 0px; line-height: 24px; margin: 0; }
.home-about a { padding-right: 0px; margin-bottom: 20px; }
.home-about ul { margin-bottom: 20px; }
.home-about .link-block { padding-left: 0px; }
.product_view .tab-content img { height: auto; }
.discount_click .deal_page_toppick img { height: auto; }
.rating > label:before { font-size: 2.25em; }
.ratings { text-align: center; }
.ratings .rating { padding-left: 25px; }
.ratings .btn-primary { margin: 0px 0 15px 0px; }
.discount_click .deal_hotdeals_details { padding: 15px 0 0 0; }
.discount_click .deal_page_toppick { padding: 0; }
.deal_des ul { padding-left: 10px; }
.ratings .media h5 { text-align: left; font-size: 14px; letter-spacing: 0; font-weight: 500; }
.home_flash_sale img { height: auto; }
.product_view .preview-thumbnail.nav-tabs li img { height: 40px; width: 60px; margin-right: 5px; }
.product_view .deal_hotdeals_details { padding: 0; }
.product_view .deal_hotdeals_details h4 { font-size: 16px; }
.deal_page .deal_page_toppick { padding-left: 15px; }
.deal_page .deal_page_toppick .media h5 { font-size: 13px; width: 140px; }
.deal_page .deal_page_toppick .media ul li p { font-size: 12px !important; }
.deal_brows_categories h4 { font-size: 16px; }
.deal_ofthe_day .deal_ofthe_day_list img { height: auto; }
.deal_ofthe_day .deal_ofthe_day_list .deal_addcart { top: 10px; left: 25px; right: auto; }
.deal_hotdeals .deal_hotdeals_list img { width: 100%; height: auto; }
.deal_hotdeals .deal_hotdeals_details { padding-left: 15px; padding-top: 10px; margin-bottom: 30px; }
.vouchertime_details { bottom: -10px; }
.home_flash_sale .deal_addcart { top: 10px; left: 25px; right: auto; }
.header_search { display: none; }
.header .common_icons li { padding: 0 15px; }
.header .common_icons li.search_icon { display: inline-block; }
.header .social_icons { padding-top: 10px; }
.home-winner .row-margin { margin-left: 0px; margin-right: 0px; }
.home-winner .slider_padding { padding-left: 0px; padding-right: 0px; }
.myprofile .nav { margin: 0 0 20px 0; }
.myprofile .col-lg-3 { text-align: center; padding: 0; }
.myprofile .col-lg-9 { padding: 0; }
.myprofile .nav.flex-column { display: inline-block !important; }
.myprofile .nav .nav-link i { padding: 0 0px 0 0; }
.myprofile .nav .nav-link { padding: 6px 12px; float: none; display: inline-block; font-size: 13px; }
.myprofile .nav .nav-link span { display: none; }
.myprofile .nav>a.active:after { display: none; }
.myprofile_purchase .media img { width: 40px; height: 30px; }
.myprofile_purchase .media p { font-size: 12px; }
.myprofile_purchase .media h5 { font-size: 14px; margin: 0; }
.myprofile_purchase .media h5 a { color: #000; }
.myprofile_purchase .media h5 a i { font-size: 12px; }
.myprofile_purchase .media ul li { font-size: 12px; }
.myprofile_purchase .media ul li i { font-size: 10px; }
.myprofile_team .table td, .myprofile_team .table th { font-size: 13px; }
.myprofile_notification .card .card-body { font-size: 14px; }
.myprofile_rewards .media img { display: none; }
.myprofile_rewards .media h5 { font-size: 14px; font-weight: 600; }
.myprofile_rewards .media p { font-size: 14px; }
.cart .table th, .cart .table td { font-size: 13px; }
.cart .quantity { width: 100%; }
.cart .quantity .btn, .cart .quantity .form-control { font-size: 12px; }
.cart .table .text-large { font-size: 13px; }
.continue_shop a { font-size: 12px; font-weight: 600; letter-spacing: 0px; }
.cart .table .media img { width: 40px; height: 40px; }
.wallet .wallet_points .nav .nav-link { padding: 15px 20px; font-size: 16px; }
.wallet .wallet_points .table th, .wallet .wallet_points .table td, .transactionhistory .table th, .transactionhistory .table td { font-size: 13px; }
}
