body{background: rgba(101,193,224,1);
background: -moz-linear-gradient(left, rgba(101,193,224,1) 0%, rgba(127,134,250,1) 51%, rgba(186,137,245,1) 99%, rgba(186,137,245,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(101,193,224,1)), color-stop(51%, rgba(127,134,250,1)), color-stop(99%, rgba(186,137,245,1)), color-stop(100%, rgba(186,137,245,1)));
background: -webkit-linear-gradient(left, rgba(101,193,224,1) 0%, rgba(127,134,250,1) 51%, rgba(186,137,245,1) 99%, rgba(186,137,245,1) 100%);
background: -o-linear-gradient(left, rgba(101,193,224,1) 0%, rgba(127,134,250,1) 51%, rgba(186,137,245,1) 99%, rgba(186,137,245,1) 100%);
background: -ms-linear-gradient(left, rgba(101,193,224,1) 0%, rgba(127,134,250,1) 51%, rgba(186,137,245,1) 99%, rgba(186,137,245,1) 100%);
background: linear-gradient(to right, rgba(101,193,224,1) 0%, rgba(127,134,250,1) 51%, rgba(186,137,245,1) 99%, rgba(186,137,245,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65c1e0', endColorstr='#ba89f5', GradientType=1 );
Copy text}
/*.login a{ color:#fff; background-color:rgba(255, 255, 255, .4) ;font-size:18px; font-weight:600;text-align:center; padding:10px 18px; border:1px solid #fff; border-radius:25px; text-decoration:none !important;}
.login a:hover{ color:#09C; background-color:#FFF;  }*/

.login p{margin-top:20px; color:#FFF; font-weight:600; font-size:32px;}
.bottum_link{background-color:#036;padding-top:20px; padding-bottom:20px;}
.bottum_link a{font-size:14px;text-decoration:none !important; background-color:transparent !important; border:none !important; color:#fff; margin-right:8px;}
.bottum_link a:hover{color:#39C;}




.container {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: auto;
  height: auto;
}



#timer {
  color: $white;
  text-align: center;
  text-transform: uppercase;
  font-family: $font;
  font-size: .5em;
  letter-spacing: 5px;
  margin-top: 1%;
}

.days, .hours, .minutes, .seconds {
  display: inline-block;
  padding: 20px;
  width:5
    0px;
  border-radius: 5px;
}

.days {
  background: $red;
}

.hours {
  background: $white;
  color: $dark;
}

.minutes {
  background: $blue;
}

.seconds {
  background: $yellow;
  .numbers {
   
  }
}

.numbers {
  font-family: $big;
  color: $dark;
  font-size: 5em;
}

.white {
  position: absolute;
  background: $white;
  height: 85px;
  width: 75px;
  left: 30%;
  top: 2%;
  .triangle {
    border-bottom: 14px solid $white;
  }
  .string {
    background: $white;
    border: 1px solid $white;
  }
}

.red {
  position: absolute;
  background: $red;
  left: 18%;
  top: 9%;
  height: 65px;
  width: 70px;
  .triangle {
    border-bottom: 14px solid $red;
  }
  .string {
    background: $red;
    border: 1px solid $red;
  }
}

.blue {
  position: absolute;
  background: $blue;
  height: 80px;
  width: 80px;
  left: 60%;
  top: 5%;
  .triangle {
    border-bottom: 14px solid $blue;
  }
  .string {
    background: $blue;
    border: 1px solid $blue;
  }
}

.balloon {
  border: 1px solid #000;
  border-radius: 50% 50% 50% 50%/ 40% 40% 60% 60%;
  z-index: 2;
}

.eye {
  position: absolute;
  width: 7px;
  height: 7px;
  top: 40%;
  left: 22%;
  background: #000;
  border-radius: 50%;
  &:after {
    content: '';
    left: 35px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #000;
    position: absolute;
  }
}

.mouth {
  position:absolute;
  top: 45%;
  left: 43%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.happy {
  border: 2px solid;
  border-color: transparent #000 #000 transparent;
  transform: rotate(45deg);
}

.triangle {
  position: absolute;
  left: 40%;
  bottom: -10%;
  width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
}

.string {
  position: absolute;
  height: 70px;
  width: 1px;
  left: 48%;
  top: 100%;
  z-index: -1;
}

.star {
  width: 20px;
  height: 20px;
  background: $white;
  -webkit-clip-path: $star;
  clip-path: $star;
}

.star-red {
  width: 30px;
  height: 30px;
  margin-left: 51px;
  margin-top: -5px;
  background: $red;
  -webkit-clip-path: $star;
  clip-path: $star;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  padding: 10px;
  font-family: $font;
  font-size: 0.7em;
  p {
    letter-spacing: 3px;
    color: $red;
  }
  a {
    color: $white;
    text-decoration: none;
    &:hover {
      color: $blue;
    }
  }
}








