    /*
    Flaticon icon font: Flaticon
    Creation date: 02/09/2018 20:38
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-cup:before { content: "\f100"; }
.flaticon-fast-food:before { content: "\f101"; }
.flaticon-fashion:before { content: "\f102"; }
.flaticon-make-up:before { content: "\f103"; }
.flaticon-automation:before { content: "\f104"; }
.flaticon-morella-cathedral:before { content: "\f105"; }
.flaticon-gym:before { content: "\f106"; }
.flaticon-heartbeat:before { content: "\f107"; }
.flaticon-hands-free-device:before { content: "\f108"; }
.flaticon-fridge:before { content: "\f109"; }
    
    $font-Flaticon-cup: "\f100";
    $font-Flaticon-fast-food: "\f101";
    $font-Flaticon-fashion: "\f102";
    $font-Flaticon-make-up: "\f103";
    $font-Flaticon-automation: "\f104";
    $font-Flaticon-morella-cathedral: "\f105";
    $font-Flaticon-gym: "\f106";
    $font-Flaticon-heartbeat: "\f107";
    $font-Flaticon-hands-free-device: "\f108";
    $font-Flaticon-fridge: "\f109";