	/*
  	Flaticon icon font: Flaticon
  	Creation date: 02/09/2018 20:38
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-cup:before { content: "\f100"; }
.flaticon-fast-food:before { content: "\f101"; }
.flaticon-fashion:before { content: "\f102"; }
.flaticon-make-up:before { content: "\f103"; }
.flaticon-automation:before { content: "\f104"; }
.flaticon-morella-cathedral:before { content: "\f105"; }
.flaticon-gym:before { content: "\f106"; }
.flaticon-heartbeat:before { content: "\f107"; }
.flaticon-hands-free-device:before { content: "\f108"; }
.flaticon-fridge:before { content: "\f109"; }