.star_rating .star-cb-group {
    /* remove inline-block whitespace */
    font-size: 0;
    /* flip the order so we can use the + and ~ combinators */
    unicode-bidi: bidi-override;
    direction: rtl;
    /* the hidden clearer */
}
.star_rating .star-cb-group * {
    font-size: 3.5rem;
}
.star_rating .star-cb-group > input {
    display: none;
}
.star_rating .star-cb-group > input + label {
    /* only enough room for the star */
    display: inline-block;
    overflow: hidden;
    text-indent: 9999px;
    width: 1em;
    white-space: nowrap;
    cursor: pointer;
}
.star_rating .star-cb-group > input + label:before {
    display: inline-block;
    text-indent: -9999px;
    content: "☆";
    color: #888;
}
.star_rating .star-cb-group > input:checked ~ label:before,
.star_rating .star-cb-group > input + label:hover ~ label:before,
.star_rating .star-cb-group > input + label:hover:before {
    content: "★";
    color: #da0000;
    text-shadow: 0 0 1px #333;
}
.star_rating .star-cb-group > .star-cb-clear + label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em;
}
.star_rating .star-cb-group > .star-cb-clear + label:before {
    width: .5em;
}
.star_rating .star-cb-group:hover > input + label:before {
    content: "☆";
    color: #888;
    text-shadow: none;
}
.star_rating .star-cb-group:hover > input + label:hover ~ label:before,
.star_rating .star-cb-group:hover > input + label:hover:before {
    content: "★";
    color: #da0000;
    text-shadow: 0 0 1px #da0000;
}

.star_rating :root {
    font-size: 3em;
}

.star_rating fieldset {
    border: 0;
    border-radius: 1px;
}

.star_rating #log {
    margin: 1em auto;
    width: 5em;
    text-align: center;
    background: transparent;
}

.rating_histogram .inner {
    padding: 1em;
    background-color: white;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.rating_histogram .rating {
    float: left;
    width: 40%;
    margin-right: 5%;
    text-align: center;
}

.rating_histogram .rating-num {
    color: #333333;
    font-size: 62px;
    font-weight: 100;
    line-height: 1em;
}

.rating_histogram .rating-stars {
    font-size: 20px;
    /*color: #E3E3E3;*/
    margin-bottom: .5em;
}
.rating_histogram .rating-stars .active {
    color: #737373;
}

.rating_histogram .rating-users {
    font-size: 14px;
}

.rating_histogram .histo {
    float: left;
    width: 55%;
    font-size: 13px;
}

.rating_histogram .histo-star {
    float: left;
    padding: 3px;

}

.rating_histogram .histo-rate {
    width: 100%;
    display: block;
    clear: both;
}

.rating_histogram .bar-block {
    margin-left: 5px;
    color: black;
    display: block;
    float: left;
    width: 75%;
    position: relative;
}

.rating_histogram .bar {
    padding:0 4px;
    display: block;
}

#bar-five {
    width: 0;
    background-color: #FF7474;
}

#bar-four {
    width: 0;
    background-color: #FF8E8E;
}

#bar-three {
    width: 0;
    background-color: #FE9E9E;
}

#bar-two {
    width: 0;
    background-color: #FEBFBF;
}

#bar-one {
    width: 0;
    background-color: #FEBFBF;
}
.rating_histogram{
    margin: 0 auto;
    margin-top: 3em;
    padding: 4px;
}
@media only screen and (min-width:480px) and (max-width:767px){

}
@media only screen and (min-width:320px) and (max-width:479px){
    .rating_histogram .rating,
    .rating_histogram .histo{width: 100%;}
    .rating_histogram .histo{padding-top: 20px;}
    .rating_histogram{margin-top: 0 !important;}

}
@media screen and (max-width:319px){}